<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{stock.name}}
          <small>(Price: {{stock.price}}) | Quantity: ({{stock.quantity}})</small>
        </h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input
            type="number"
            placeholder="Quantity"
            v-model="quantity"
            :class="{danger: notEnough}"
            class="form-control">
        </div>
        <div class="pull-right">
          <button
            @click="sellStock"
            :disabled="notEnough || quantity <= 0 || Number.isInteger(quantity)"
            class="btn btn-info">
            {{notEnough ? 'Not enough':'Sell'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.danger{
  border: 1px solid red;
}
</style>
<script>
import {mapActions} from 'vuex';
export default {
  props: ['stock'],
  data() {
    return {
      quantity: 0
    }
  },
  computed: {
    notEnough() {
      return this.quantity > this.stock.quantity;
    }
  },
  methods: {
    ...mapActions({
      placeSellOrder: 'sellStock'
    }),
    sellStock(){
      const order = {
        stockId: this.stock.id,
        quantity: this.stock.quantity,
        price: this.stock.price
      };
      this.placeSellOrder(order);
    }
  }
}
</script>

