<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{stock.name}}
          <small>(Price: {{stock.price}})</small>
        </h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input
            type="number"
            placeholder="Quantity"
            v-model="quantity"
            :class="{danger: notEnough}"
            class="form-control">
        </div>
        <div class="pull-right">
          <button
            @click="buyStock"
            :disabled="notEnough || quantity <= 0 || Number.isInteger(quantity)"
            class="btn btn-success">
            {{ notEnough ? 'Not enough money':'Buy'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.danger{
  border: 1px solid red;
}
</style>

<script>
export default {
  props: ['stock'],
  data() {
    return {
      quantity: 0
    }
  },
  computed: {
    funds() {
      return this.$store.getters.funds;
    },
    notEnough() {
      return this.quantity * this.stock.price > this.funds;
    }
  },
  methods: {
    buyStock() {
      const order = {
        stockId: this.stock.id,
        quantity: this.quantity,
        price: this.stock.price
      };
      this.$store.dispatch('buyStock', order);
      this.quantity = 0;
    }
  }
}
</script>

