  <nav class="navbar navbar-expand navbar-default">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

      </ul>
      <ul class="navbar-nav pull-right">

        <li class="nav-item dropdown m-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          </div>
        </li>
      </ul>
    </div>
  </nav>


<template>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <router-link to="/" class="navbar-brand"><a>Stock Trader</a></router-link>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <router-link to="/portfolio" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Portfolio</a></router-link>
        <router-link to="/stocks" activeClass="active" tag="li" class="nav-item"><a class="nav-link">Stocks</a></router-link>
      </ul>
      <strong class="navbar-text navbar-right">Funds: {{funds | currency}}</strong>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" @click="endDay" class="nav-link">End Day</a>
        </li>
        <li class="dropdown" :class="{open:dropdown}" @click="dropdown=!dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Save/Load <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" @click="save">Save</a>
            </li>
            <li>
              <a href="#" @click="load">Load</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>
<script>
import {mapActions} from 'vuex';
export default {
  data: function(){
    return{
      dropdown: false
    }
  },
  computed: {
    funds() {
      return this.$store.getters.funds;
    }
  },
  methods: {
    ...mapActions({
      randomizePrices: 'randomizeStocks',
      getData: 'load'
    }),
    endDay(){
      this.randomizePrices();
    },
    save(){
      const data = {
        funds: this.$store.getters.funds,
        stockPortfolio: this.$store.getters.stockPortfolio,
        stocks: this.$store.getters.stocks
      }
      this.$http.put('data.json', data);
    },
    load(){
      this.getData();
    }
  }
}
</script>
